In [0]:
import pandas as pd
from gensim.utils import simple_preprocess
from gensim.models import Doc2Vec
from gensim.models.doc2vec import TaggedDocument

In [0]:
df = pd.read_csv('job_ofer.csv')
df.shape

(36109, 8)

In [0]:
df.head()

                                        title  ...                           industries
0                   Machine Learning Engineer  ...  Information Technology and Services
1  Deep Learning Applied Researcher - Chicago  ...  Information Technology and Services
2                   Machine Learning Engineer  ...  Information Technology and Services
3           Machine Learning / Data Scientist  ...  Information Technology and Services
4                             Cloud Architect  ...  Information Technology and Services

[5 rows x 8 columns]

In [0]:
title_corpus = df['title'].map(simple_preprocess)
tittle_tagged = [TaggedDocument(words=sent, tags=[i]) for i,sent in enumerate(title_corpus)]

In [0]:
title_model = Doc2Vec(vector_size=300,window_size=5, min_count=1)
title_model.build_vocab(tittle_tagged)

In [0]:
title_model.train(tittle_tagged,total_examples=title_model.corpus_count,epochs=10)

In [0]:
title_model.docvecs.most_similar(0)

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[(3847, 0.8652997016906738),
 (341, 0.8596103191375732),
 (751, 0.8528269529342651),
 (5569, 0.8523737192153931),
 (5529, 0.8508408069610596),
 (1210, 0.8472046256065369),
 (25448, 0.8414750099182129),
 (9607, 0.8408520221710205),
 (1728, 0.840725302696228),
 (33255, 0.8399732112884521)]

In [0]:
df[df.index == 0].title.values

array(['Machine Learning Engineer'], dtype=object)

In [0]:
df[df.index == 3847].title.values

array(['Mission Capability Systems Engineer'], dtype=object)

In [0]:
df[df.index == 341].title.values

array(['Machine Learning Engineer'], dtype=object)

In [0]:
df[df.index == 751].title.values

array(['M3 Business Consultant'], dtype=object)